.remix-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100vh - env(safe-area-inset-bottom));
}

.remix-app > * {
  width: 100%;
}

.remix-app__header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.remix-app__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remix-app__header-home-link {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 50%;
  color: var(--color-foreground);
  align-items: center;
}

.remix-app__header-nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.remix-app__header-nav li {
  font-weight: bold;
}

.remix-app__main {
  flex: 1 1 100%;
}

.remix-app__footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid var(--color-border);
}

.remix-app__footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remix__page {
  --gap: 1rem;
  --space: 2rem;
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--gap);
  padding-top: var(--space);
  padding-bottom: var(--space);
}

.remix-app_header-left-logo {
  margin-right: 10px;
}

.remix-app_header-right-logo {
  margin-left: 10px;
}